<div class="navbar navbar-expand-sm navbar-light navbar-lewagon navbar-wagon-fixed">
  <a class="navbar-brand navbar-wagon-brand" href="/">
      <%= image_tag "logo.png" %>

</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>


  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <%= link_to root_path do %>
        <p class="nav-link" href="/">Home</p>
        <% end %>
      </li>
      <li class="nav-item">
        <%= link_to projects_path do %>
        <p class="nav-link" >Projects</p>
        <% end %>
      </li>
     <li class="nav-item">
        <%= link_to team_path do %>
        <p class="nav-link" href="#">Team</p>
        <% end %>
      </li>
        <li class="nav-item">
        <%= link_to news_path do %>
        <p class="nav-link" >News</p>
        <% end %>
      </li>
       <li class="nav-item">
        <%= link_to contact_path do %>
        <p class="nav-link" href="#">Contact</p>
        <% end %>
      </li>
    </ul>
  </div>
</div>
