<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://data.whicdn.com/images/242464358/original.gif);">
  <div class="container static section">
    <h1 >Providing distributed blockchain <br>verification services and solutions for you!</h1>
    <br>
    <a class="btn btn-projects" href="#">Company</a>
  </div>
</div>
<div style="">
  <div class="container">
    <br>
    <h2 class="text-center">Latest news</h2>
    <hr>
    <br>
    <div class="row">
      <div class="col-md-4 col-sm-12">
        <%= link_to  greers_treis_blockchain_path do %>
        <div class="card-trip">
          <img src="https://upstatebusinessjournal.com/wp-content/uploads/2018/05/0511.UBJ_.TreisBitcoinMining-6.WillCrooks.jpg">
          <div class="card-trip-infos">
            <div>
              <h2>Greer’s Treis Blockchain in pursuit of the next big thing</h2>
              <br>
              <p>For the moment, the racks stand lonely and mostly empty in 25,000 square feet of space that echoes with...</p>
            </div>
          </div>
        </div>
        <% end %>
      </div>
      <div class="col-md-4 col-sm-12">
        <%= link_to digital_gold_path do %>
        <div class="card-trip">
          <img src="https://upstatebusinessjournal.com/wp-content/uploads/2018/05/0511.UBJ_.TreisBitcoinMining.MichaelBolickDavidPenceAndSenterSmith-1.WillCrooks-1.jpg">
          <div class="card-trip-infos">
            <div>
              <h2>Digital Gold: Greenville startup to open $10M data center for cryptocurrency mining</h2>
              <br>
              <p>Over the past several years, cryptocurrencies like bitcoin have surged in popularity...</p>
            </div>
          </div>
        </div>
        <% end %>
      </div>
    </div>
    <br>
    <div class="text-center">
     <%= link_to news_path do %>
     <h2 class="btn btn-primary"> All news</h2>
     <% end %>
   </div>
   <hr>
 </div>
 <br>
 <br>
</div>
<div class="projects">
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-sm-12">
        <h2 class="title-projects">Projects</h2>
        <p class="text-projects">TreisBlockchain is at the cutting-edge in blockchain <br> intellectual property development projects.</p>
        <%= link_to projects_path do %>
        <p class="btn btn-projects">Our Projects</p>
        <% end %>
        <br>
        <br>
      </div>
      <div class="col-md-6 col-sm-12 text-center">
        <img src="https://upstatebusinessjournal.com/wp-content/uploads/2018/05/0511.UBJ_.TreisBitcoinMining-3.WillCrooks-1068x713.jpg" alt="" class="responsive" height="90px">
      </div>
    </div>
  </div>
  <br>
</div>
<div class="space">
  <div class="container">
    <h2 class="text-center">Our Team</h2>
    <hr>
    <br>
    <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://upstatebusinessjournal.com/wp-content/uploads/2018/05/0511.UBJ_.TreisBitcoinMining.DavidPence-2.WillCrooks.jpg)">
      <%= link_to team_path do %>
      <p class="btn btn-primary" >Team</p>
      <% end %>
    </div>
    <br>
  </div>
</div>
<br>
